@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
    html{
        --color-background: #ffffff;
        --color-foreground: #000000;
    }
    html[data-theme="dark"]{
        --color-background: #000000;
        --color-foreground: #ffffff;
    }
}