@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root{
    height: 100%;
    overflow: hidden;
}
body{
    overflow-y: scroll;
}

@layer base{
    html{
        --color-background: #ffffff;
        --color-foreground: #000000;
    }
    html[data-theme="dark"]{
        --color-background: #000000;
        --color-foreground: #ffffff;
    }
}



#NoteContent {
    h1{
        @apply text-4xl
    }
    h3{
        @apply text-2xl
    }
    h5 {
        @apply text-xl
    }
    code{
        @apply bg-slate-700 text-white p-1 text-sm rounded-md
    }
    p {
        @apply flex items-center gap-1
    }    
}